@use '../../../styles/variables' as *;

main {
    width: 100%;
    background-image: linear-gradient(to top, $degradado_azul_top 0%, $degradado_azul_bot);

}

.cont {
    width: 90%;
    margin: auto;
    padding: 2rem;
}

/* SUB HEADER */

.cont--two--section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cont--search{    
    width: 30%;
}

.search--book{
    width: 100%;
    padding: .5rem;
    border: $azul_claro solid .8rem;
    background-color: transparent;
    color: $blanco;
}

.cont--two--section .cont--two--title {
    color: $blanco;
    font-size: 2rem;
    padding: 1.5rem;

    border-bottom: $azul_claro solid .2rem;
}

.cont--two--section p {
    width: 60%;
    text-align: justify;
}

/* BOOKS */

.cont--books {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.book {
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: $fondoItem;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
 
}

.book .book--content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    color: $blanco; 
}

@media (min-width: 480px) {
    .cont--books{        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media(min-width: 780px){
    .cont--books{        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.book:hover{
    box-shadow: 13px 20px 17px 3px rgba(0,0,0,.53);
    transform: scale(1.0625);
}

.book--img img{
    width: 100%;
}