<main>
    <div class="form-container">
        <h2>Iniciar Sessión</h2>
        <form>
            <div class="campo">
                <label for="username">Username o email</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="campo">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="campo">
                <a class="campo__bt" type="submit">Ingresar</a>
                <a class="campo__iniciar" routerLink="iniciar">Registrarse</a>
            </div>

        </form>
    </div>
</main>