<main>
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form>
            <div class="campo">
                <label   for="username">Email</label>
                <input (input)="getEmail(email.value)"  type="email" id="username" name="username" required #email>
            </div>

            <div class="campo">
                <label for="password">Password</label>
                <input (input)="getPassword(password.value)" type="password" id="password" name="password" required #password>
            </div>

            <div class="campo">
                <a (click)="login()"  class="campo__bt" type="submit">Ingresar</a>
                <a (click)="goToRegister()" class="campo__iniciar">Registrarse</a>
            </div>

        </form>
    </div>
</main>