<!-- Header de pagina de inicio-->

<div class="img-back">
    <header>
       <div class="title">
           <h1>Biblioteca</h1>
       </div>
       <nav class="nav--main">
        
          <a (click)="linkLibros()">Libros</a>
          <a (click)="linkUsuarios()">Usuarios</a>
          <a (click)="linkPerfil()">Perfil</a>
        <a class="frame" (click)="back()"> Cerrar Sesión</a>
           
       </nav>
   </header>

   <div class="cont--welcome">
       <section class="cont--welcome--text">
           <h2>Bienvenido a nuestra biblioteca</h2>
           <p>Creada con amor </p>

       </section>
   </div>
</div>