<main>
    <div class="cont">
        <section class="cont--two--section">
            <h3 class="cont--two--title">Historial de </h3>
        </section>
        <div class="cont--history">
            <div class="history">
                <section class="history--lends">
                    <h3 class="history--title">Préstamos</h3>
                    @if (books.length === 0) {
                    <p>Sin libros</p>
                    }@else {
                    <ul class="lends--list">
                        @for (book of books; track book) {
                        <li class="lends--item">
                            <ul class="book--list">
                                <li>{{book.name}}</li>
                                @if (isBookShown(book.id)) {
                                <app-returnsbooks [book]="book" />
                                }
                            </ul>
                            <button class="book--plus" (click)="deployContent(book.id)">
                                @if (!isBookShown(book.id)) {
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-badge-down" width="40" height="40"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M17 13v-6l-5 4l-5 -4v6l5 4z" />
                                </svg>
                                }@else {
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-badge-up" width="40" height="40"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M17 11v6l-5 -4l-5 4v-6l5 -4z" />
                                </svg>
                                }
                            </button>

                        </li>
                        }
                    </ul>
                    }
                </section>
            </div>

            <!-- DEVOUCIONES -->
            <div class="history">
                <section class="history--lends">
                    <h3 class="history--title">Devoluciones</h3>
                    @if (books.length === 0) {
                    <p>Sin libros</p>
                    }@else {
                    <ul class="lends--list">
                        @for (book of books; track book) {
                        <li class="lends--item">
                            <ul class="book--list">
                                <li>{{book.name}}</li>
                                @if (isBookShown(book.id)) {
                                <app-lendsbooks [book]="book" />
                                }
                            </ul>
                            <button class="book--plus" (click)="deployContent(book.id )">
                                @if (!isBookShown(book.id)) {
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-badge-down" width="40" height="40"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M17 13v-6l-5 4l-5 -4v6l5 4z" />
                                </svg>
                                }@else {
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-arrow-badge-up" width="40" height="40"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M17 11v6l-5 -4l-5 4v-6l5 -4z" />
                                </svg>
                                }
                            </button>

                        </li>
                        }
                    </ul>
                    }
                </section>
            </div>

        </div>
    </div>
</main>