<div class="admin">
    <div class="admin__cont">
        <div class="cont--users">
            <h3>Lista de usuarios</h3>
            @for (user of allUsers; track user) {
                <button>
                    <div class="user">
                        <div class="user--content">                    
                            <h3 class="user--Nombre"> {{user.name}}</h3>                           
                        </div>
        
                        <div class="user--img">
                            <img src="{{user.image}}" alt="{{user.name}}">
                        </div>
        
                        <div class="book__bts">                          
                        </div>
                    </div>
                </button>
            }
        </div>
    </div>
</div>