<div class="admin">
    <div class="admin__cont">
        <section class="cont__main">
            <h3 class="cont__title">Lista de usuarios</h3>
            <div class="cont__users">
                @for (user of users; track user) {
                    <button (click)="modifyUser(user)" class="users">                        
                            <div class="user--content">                    
                                <h3 class="user--Nombre"> {{user.name}}</h3>                  
                                <p class="user--Correo"> {{user.email}}</p>
                                                          
                            </div>
            
                            <div class="user--img">
                                <img src="{{user.image}}" alt="{{user.name}}">
                            </div>
            
                            <div class="user--bts">
                                <!-- <input (click)="modifyUser(user)" class="user_bt" type="button" value="Modificar" >-->
                                <button class="user--bt--modi"  (click)="modifyUser(user)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                        <path d="M16 5l3 3" />
                                      </svg>
                                </button>
                            </div>
                        
                    </button>
                }
            </div>
        </section>
    </div>
</div>