<main>
    <div class="form-container">
        
        <form>
            <fieldset>
                <legend>Datos Usuario</legend>
                <div class="cont__campos">
                    <div class="campo">
                        <label for="nombre">Nombre: </label>
                        <input class="campo__txt" (input)="getName(name.value)"   type="text" id="nombre" name="nombre" required #name>
        
                    </div>
        
                    <div class="campo">
                        <label for="apellido">Apellido: </label>
                        <input class="campo__txt" (input)="getLastname(lastname.value)" type="text" id="apellido" name="apellido" required #lastname>
                    </div>
        
                    <div class="campo">
                        <label for="cell">Celular: </label>
                        <input class="campo__txt" (input)="getCell(cell.value)" type="email" id="cell" name="cell" required #cell>
                    </div>
        
                    <div class="campo">
                        <label for="correo">Correo Electrónico: </label>
                        <input class="campo__txt" (input)="getEmail(email.value)" type="email" id="correo" name="correo" required #email>
                    </div>
        
                    <div class="campo">
                        <label for="contrasena">Contraseña: </label>
                        <input class="campo__txt" (blur)="isShortPassword()"  (input)="getPassword(password.value)" type="password" id="contrasena" name="contrasena" required #password>
                    </div>
        
                    <div class="campo">
                        <label for="admin">Es administrador: </label>
                        <input (change)="isAdmin($event)" class="campo__check" type="checkbox" id="admin" name="admin" #checkIsAdmin>
                    </div>
        
                    <div class="campo campo__bt">
                        <input  class="bt" type="submit" value="Guardar Cambios">                                
                    </div>

                    <div class="campo">
                        <img src="assets/img/imageUser.jpg" alt="">
                        <div class="campo__select__img">
                            <label for="selectPhoto">Seleccionar foto</label>
                            <input bt class="campo__bt" type="file" name="selectPhoto" id="selectPhoto">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>