<main>
    <div class="form-container">
        <h2>Registrate</h2>
        <form>
            <div class="campo">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" name="nombre" required>

            </div>

            <div class="campo">
                <label for="apellido">Apellido: </label>
                <input type="text" id="apellido" name="apellido" required>
            </div>

            <div class="campo">

                <label for="correo">Correo Electrónico: </label>
                <input type="email" id="correo" name="correo" required>
            </div>

            <div class="campo">
                <label for="contrasena">Contraseña: </label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>

            <div class="campo">
                <label for="admin">Es administrador: </label>
                <input class="campo__check" type="checkbox" id="admin" name="admin">
            </div>

            <div class="campo">
                <a class="campo__bt" type="submit">Registrarse</a>
                <a class="campo__iniciar" routerLink="iniciar">Ya tienes Cuenta</a>
            </div>











        </form>
    </div>
</main>