<main>
    <div class="cont">
        <section class="cont--two--section">
            <h3 class="cont--two--title">Nuestros libros disponibles</h3>
            <div class="cont--search">
                <input class="search--book" type="text" name="txtSearch" id="" placeholder="Buscar libro">
            </div>
        </section>
        <div class="cont--books">
            @for (book of books; track books) {
            <div class="book">
                <div class="book--content">
                    <h5> {{book.name}}</h5>                    
                    <p>Categoria: {{book.category}}</p>
                </div>
                <div class="book--img">
                    <img src="{{book.image}}" alt="{{book.name}}">                    
                </div>
            </div>
            }
        </div>
    </div>
</main>
<div class="background">
    <section class="cont">
        <h2>Administrar</h2>
        <form class="formulary" action="">
            <fieldset>
                <legend>Datos del libro</legend>

                <div class="contenedor-campos">
                    <div class="campo ">
                        <label for="">Nombre</label>
                        <input (input)="getName(name.value)" class="campo__dato" type="text"
                            placeholder="Nombre del libro" #name>
                    </div>
                    <!--Autor-->
                    <div class="campo">
                        <label for="">Autor</label>
                        <input (input)="getAutor(autor.value)" class="campo__dato" type="text"
                            placeholder="Nombre del libro" #autor>

                    </div>


                    <div class="campo ">
                        <label for="">Descripción</label>
                        <textarea (input)="getDescription(description.value)" class="campo__dato" name="" id=""
                            cols="30" rows="5" #description></textarea>
                    </div>
                    <!--Categorias-->
                    <div class="campo ">
                        <label for="">Categorias</label>
                        <select (change)="selectCategory($event)" name="" id="" #cbCategory>
                            <option disabled selected [value]="cbText">{{cbText}}</option>
                            @for (cat of ourCategories; track ourCategories) {
                            <option value="{{cat.title}}">{{cat.title}}</option>
                            }
                        </select>
                    </div>


                    <div class="campo campo__bt">
                        <label class="lb--selec" for="selectImg">Subir imagen</label>
                        <input class="selec" (change)="selectImg($event, book_img)" type="file" name="photo"
                            id="selectImg" accept="image/*">
                    </div>

                    <div class="campo">
                        <img src="../../../assets/img/sala.jpg" alt="sala" #book_img>
                    </div>

                </div>

                <div class="campo__bt submit">
                    <input (click)="saveBook(book_img.src)" class="bt" type="button" value="Guardar libro">
                </div>
                <div id="msg">
                </div>
            </fieldset>
        </form>
    </section>
</div>