<main>
    <div class="cont">
        <section class="cont--two--section">
            <h3 class="cont--two--title">Nuestros libros disponibles</h3>
            <div class="cont--search">
                <input class="search--book" type="text" name="txtSearch" id="" placeholder="Buscar libro">
            </div>
        </section>
        
        <div class="cont--books">
            <!--Boton para agregar libros-->
            <button (click)="showAdminLibrary()" title="Agregar Libro" class="book book__add">                
                    <img src="assets/img/addBook.jpg" alt="agregar libro">                
            </button>

            <!--Libros-->
            @for (book of books; track books) {
            <div class="book">
                <div class="book--content">
                    <h3 class="book--title"> {{book.name}}</h3>
                    <p><span>Autor:</span> {{book.autor}}</p>
                </div>

                <div class="book--img">
                    <img src="{{book.image}}" alt="{{book.name}}">
                </div>

                <div class="book__text">
                    <p>{{book.description}}</p>
                    <div class="book__bts">
                        <input (click)="modifyBook(book)" class="book__bt" type="button" value="Modificar">
                        <input (click)="delete(book)" class="book__bt" type="button" value="Eliminar">
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</main>

@if (adminLibrary) {
    <div class="cont">
        <div class="cont__bt__cerrar">
            <input class="bt__cerrar" (click)="hideAdminLibrary()" type="button" value="Cerrar">
        </div>
        <app-addbook />        
    </div>
}