<!-- Header del Inicio de sesion-->

<div class="img-back">
    <header>
       <div class="title">
           <h1>Biblioteca</h1>
       </div>
       <nav class="nav--main">
           <a href="#">Atribuciones</a>
           <a href="registrarse">Registrarse</a>
           <a class="frame" href="iniciar">Iniciar Sesión</a>
       </nav>
   </header>

   <div class="cont--welcome">
       <section class="cont--welcome--text">
           <h2>Bienvenido a nuestra biblioteca</h2>
           <p>Creada con amor</p>

       </section>
   </div>
</div>